.comand {
	background-color: var(--fon-button-color);
	padding-bottom: 60px;
	padding-top: 60px;
	// max-height: 2761px;

	@media screen and (min-width: 1200px) {
		padding-bottom: 94px;
		padding-top: 94px;
	}
	&-list {
		margin: -15px;
		display: flex;
		flex-wrap: wrap;
		color: var(--primery-text-color);
		// @include font(normal, 500px, 16px, 1.16);
		font-style: normal;
		font-weight: 500;
		font-size: 16px;
		line-height: 1.16;
		text-align: center;
		letter-spacing: 0.03em;

		@media screen and (min-width: 1200px) {
			flex-wrap: nowrap;
		}
	}
	&__title {
		margin-bottom: 30px;
		color: var(--primery-text-color);
		// @include font(normal, 700px, 36px, 1.17;
		font-style: normal;
		font-weight: 700;
		font-size: 28px;
		line-height: 1.18;
		text-align: center;
		letter-spacing: 0.03em;

		@media screen and (min-width: 768px) {
			font-weight: 700;
			font-size: 36px;
			line-height: 1.17;
			margin-bottom: 50px;
		}
	}

	.comand-list__item {
		@media screen and (max-width: 767px) {
			margin: 15px;
		}

		@media screen and (min-width: 768px) {
			flex-basis: calc((100% - 60px) / 2);
			margin: 15px;
		}
		@media screen and (min-width: 1200px) {
			flex-basis: calc((100% - 150px) / 4);
			margin-right: 15px;
		}

		.comand-list__description {
			max-width: 450px;
			box-sizing: border-box;
			border-top: none;
			padding-top: 30px;
			padding-bottom: 30px;
			box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
			border-radius: 0px 0px 4px 4px;
			border-top: none;
			background-color: var(--primery-fon-color);

			@media screen and (min-width: 768px) {
				max-width: 354px;
			}
			@media screen and (min-width: 1200px) {
				max-width: 270px;
			}
		}

		.comand-list__title {
			padding-bottom: 10px;
			color: var(--primery-text-color);
			// @include font(normal, 500px, 16px, 1.19);
			font-style: normal;
			font-weight: 500;
			font-size: 16px;
			line-height: 1.19;
			text-align: center;
			letter-spacing: 0.03em;
		}

		.comand-list__text {
			color: var(--title-text-color);
			// @include font(normal, 400px, 16px, 1.19);
			font-style: normal;
			font-weight: 400;
			font-size: 16px;
			line-height: 1.19;
			text-align: center;
			letter-spacing: 0.03em;
		}

		.socials {
			padding-top: 16px;
			&-list {
				display: flex;
				height: 44px;
				padding: 0px;
				margin: 0px;
				list-style: none;
				justify-content: center;
				&__item {
					margin-right: 10px;
					background-position: center;
					display: flex;
					align-items: center;
					justify-content: center;
					border-radius: 50%;
					height: 44px;
					width: 44px;
					list-style: none;
					fill: currentColor;
					&:last-child {
						margin-right: 0px;
					}
				}
				&__link {
					transition: color 250ms var(--timing-translation), background-color 250ms var(--timing-translation);

					display: flex;
					height: 100%;
					width: 100%;
					border-radius: 50%;
					align-items: center;
					justify-content: center;
					background-position: center;
					color: #afb1b8;
					&:hover,
					&:focus {
						background-color: var(--accent-color);
						color: #fff;
					}
				}
			}
		}
	}
}
