.feature {
	padding: 60px 0px 60px 0px;

	@media screen and (min-width: 480px) {
		// min-width: 480px;
		// padding: 60px 15px 60px 15px;
	}

	@media screen and (min-width: 768px) {
		// max-width: 768px;
		padding: 60px 0px 60px 0px;
	}

	@media screen and (min-width: 1200px) {
		// max-width: 1200px;
		padding: 94px 0px 94px 0px;
		display: flex;
	}
}

.feature-title {
	display: none;
}
.feature-list {
	display: flex;
	flex-wrap: wrap;
	@media screen and (min-width: 480px) {
		flex-wrap: nowrap;
		flex-direction: column;
	}
	@media screen and (min-width: 768px) {
		flex-wrap: wrap;
		flex-direction: row;
		margin: -15px;
	}

	@media screen and (min-width: 1200px) {
		flex-wrap: wrap;
	}
	&__title {
		margin-top: 30px;
		margin-bottom: 10px;
		// @include font(normal, 700px, 14px, 1.14);

		font-style: normal;
		font-weight: 700;
		font-size: 14px;
		line-height: 1.14;
		letter-spacing: 0.03em;
		text-transform: uppercase;
		text-align: start;
		color: var(--primery-text-color);
	}
	&__text {
		// @include font(normal, 400px, 14px, 1.71);
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 1.71;
		letter-spacing: 0.03em;
	}
	&__items {
		padding: 0px;
		margin-bottom: 0px;
		@media screen and (min-width: 480px) {
			max-width: 450px;
			margin: 15px;
		}

		@media screen and (min-width: 768px) {
			flex-basis: calc((100% - 15px * 4) / 2);
			margin: 15px;
		}

		@media screen and (min-width: 1200px) {
			max-width: 270px;
		}
		&:last-child {
			@media screen and (min-width: 480px) {
				margin-bottom: 0px;
			}
			@media screen and (min-width: 768px) {
				margin-bottom: 15px;
			}

			@media screen and (min-width: 1200px) {
				margin-bottom: 15px;
			}
		}
		&::before {
			display: block;
			content: "";
			height: 120px;
			background-position: center;
			background-size: 70px;
			background-repeat: no-repeat;
			background-color: var(--fon-button-color);
		}
		&--antenna::before {
			background-image: url(../images/antenna.svg);
		}
		&--clock::before {
			background-image: url(../images/clock.svg);
		}
		&--diagram::before {
			background-image: url(../images/diagram.svg);
		}
		&--astronaut::before {
			background-image: url(../images/astronaut.svg);
		}
	}
}
