.footer {
	// align-items: baseline;
	// display: block;
	padding-top: 60px;
	padding-bottom: 60px;
	background-color: var(--title-fon-color);
	text-decoration: none;
	&-container {
		display: flex;
		align-items: center;
		max-width: 480px;
		padding-left: 15px;
		padding-right: 15px;
		margin-left: auto;
		margin-right: auto;
		flex-direction: column;

		@media screen and (min-width: 768px) {
			max-width: 768px;
			flex-wrap: wrap;
			justify-content: space-around;
			flex-direction: row;
		}

		@media screen and (min-width: 1200px) {
			max-width: 1200px;
		}
	}
	&__link {
		color: var(--text-color-footer);
		text-decoration: none;
		font-family: Raleway;
		// @include font(normal, 700px, 26px, 1.19);
		font-style: normal;
		font-weight: 700;
		font-size: 26px;
		line-height: 1.19;
		letter-spacing: 0.03em;
	}
	&__item {
		margin-bottom: 9px;
		&:last-child {
			margin-bottom: 0px;
		}
	}
	&__list {
		margin-top: 20px;
		text-decoration: none;
		display: block;
		color: var(--primery-fon-color);
		font-family: Roboto;
		// @include font(normal, 400px, 14px, 1.71);
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 1.71;
		letter-spacing: 0.03em;
		&:focus,
		&:hover {
			color: var(--accent-color);
		}
	}
	&__adress {
		display: block;
		margin-top: 9px;
		color: var(--second-text-color);
		text-decoration: none;
		font-family: Roboto;
		// @include font(normal, 400px, 14px, 1.71;
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 1.71;
		letter-spacing: 0.03em;
		&:focus,
		&:hover {
			color: var(--accent-color);
		}
	}
	&-nav {
		// margin-left: 70px;
		margin-top: 60px;
		align-items: baseline;

		@media screen and (min-width: 768px) {
			margin-top: 0px;
		}

		@media screen and (min-width: 1200px) {
		}
		&__sets {
			margin-bottom: 20px;
			color: var(--primery-fon-color);
			font-family: Roboto;
			// @include font(normal, 700px, 14px, 1.14);
			font-style: normal;
			font-weight: bold;
			font-size: 14px;
			line-height: 1.14;
			letter-spacing: 0.03em;
			text-transform: uppercase;
			text-align: center;

			@media screen and (min-width: 1200px) {
				text-align: start;
			}
		}
	}
}
.order-adress {
	display: flex;
	align-items: center;
	flex-direction: column;

	@media screen and (min-width: 1200px) {
		align-items: start;
		margin-right: 70px;
	}

	&__list {
		display: flex;
		flex-direction: column;
		align-items: center;

		@media screen and (min-width: 1200px) {
			align-items: start;
		}
	}
}

.socials {
	padding-top: 16px;
	&-lists {
		display: flex;
		height: 44px;
		padding: 0px;
		margin: 0px;
		list-style: none;
		justify-content: center;
		&__item {
			margin-right: 10px;
			background-position: center;
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 50%;
			height: 44px;
			width: 44px;
			list-style: none;
			fill: currentColor;
			&:last-child {
				margin-right: 0px;
			}
		}
		&__link {
			transition: color 250ms var(--timing-translation), background-color 250ms var(--timing-translation);

			display: flex;
			height: 100%;
			width: 100%;
			border-radius: 50%;
			align-items: center;
			justify-content: center;
			background-position: center;
			color: #afb1b8;
			&:hover,
			&:focus {
				background-color: var(--accent-color);
				color: #fff;
			}
		}
	}
}
