.header {
	position: relative;
	border-bottom: 1px solid #ececec;
	&-nav {
		min-height: 60px;
		align-items: center;
		justify-content: space-between;
		flex-grow: 1;
		-webkit-box-pack: justify;
		-webkit-box-flex: 1;
		display: flex;

		// @media screen and (min-width: 480px) {
		// 	width: 480px;
		// 	display: flex;
		// }

		@media screen and (min-width: 768px) {
			display: flex;
			// width: 768px;
			justify-content: flex-start;
			-webkit-box-pack: start;
		}

		@media screen and (min-width: 1200px) {
			display: flex;
			align-items: center;
			// width: 1200px;
		}
	}
	&-container {
		display: flex;
		padding-left: 15px;
		padding-right: 15px;
		margin-left: auto;
		margin-right: auto;
		align-items: center;

		@media screen and (min-width: 480px) {
			max-width: 480px;
		}

		@media screen and (min-width: 768px) {
			max-width: 768px;
			// justify-content: space-between;
			// align-items: center;
		}

		@media screen and (min-width: 1200px) {
			display: flex;
			align-items: center;
			max-\width: 1200px;
			padding-left: 15px;
			padding-right: 15px;
			margin-left: auto;
			margin-right: auto;
		}
	}
	&__logo {
		color: var(--primery-text-color);
		text-decoration: none;
		font-family: Raleway;
		// @include font(normal, 700px, 26px, 1.19);
		font-style: normal;
		font-weight: 700;
		font-size: 26px;
		line-height: 1.19;
		letter-spacing: 0.03em;

		margin-right: 88px;
	}

	&-contacts {
		display: none;
		margin-left: auto;

		@media screen and (min-width: 768px) {
			// display: inline-flex;
			// max-width: 1199px;
			// margin-left: auto;
			// flex-wrap: wrap;
			// align-content: center;
			// justify-items: start;
			flex-direction: row;
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
		}

		@media screen and (min-width: 1200px) {
			// display: flex;
			// width: 1200px;
			// margin-left: auto;
			// align-items: center;
			display: flex;
			// margin-left: auto;
			// justify-content: flex-start;
			// flex-wrap: nowrap;
			flex-direction: row;
		}

		&__item:not(last-child) {
			margin-bottom: 10px;

			@media screen and (min-width: 1200px) {
				margin-right: 50px;
			}
		}
		&__link {
			transition: color 250ms var(--timing-translation);

			align-items: center;
			display: flex;
			color: var(--title-text-color);
			text-decoration: none;
			font-family: Roboto;
			// @include font(normal, 500px, 14px, 1.14);
			font-style: normal;
			font-weight: 500;
			font-size: 14px;
			line-height: 1.14;
			letter-spacing: 0.02em;
			&:focus,
			&:hover {
				color: var(--accent-color);
			}
		}
		&__mail {
			margin-right: 10px;
			width: 16px;
			height: 12px;
			fill: currentColor;
		}
		&__phone {
			margin-right: 10px;
			width: 10px;
			height: 16px;
			fill: currentColor;
			background-position: center;
		}
	}
}

/* .header-contacts__item:not(last-child) {
	margin-right: 0px;
} */
