// .mob-menu {
// 	position: fixed;
// 	display: block;
// 	z-index: 1;
// 	overflow-y: scroll;
// 	background-color: var(--text-color-footer);
// 	width: 100%;
// 	height: 100%;
// 	top: 0;
// 	left: 0;
// 	// padding: 48px 40px 48px 40px;
// }

.mob-menu__form {
	margin-left: auto;
	margin-right: auto;
	min-width: 480px;
	// width: 100vw;
	height: 100vh;
	padding: 25px 40px 48px 40px;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

.mob-modal__icons {
	fill: currentColor;
}

.mob-modal-btn {
	display: inline-flex;
	margin: 0;
	padding: 0;
	border: none;
	background-color: transparent;
	z-index: 3;
	&:hover .mob-modal__icons,
	&:focus .mob-modal__icons {
		fill: var(--accent-color);
	}
	&.is-open .icon-menu {
		display: none;
	}

	&.is-open .icon-close {
		display: block;
	}

	& .icon-close {
		display: none;
	}
	@media screen and (min-width: 768px) {
		display: none;
	}
}
// .mob-modal-btn .is-open .icon-close,
// body {
// 	overflow: hidden;
// }

.menu-container {
	display: none;
	// position: absolute;
	// top: 100%;
	// left: 0;
	// width: 100%;
	// height: 100%;

	// position: fixed;
	// // display: block;
	// z-index: 1;
	// overflow-y: scroll;
	// background-color: var(--text-color-footer);
	// width: 100%;
	// height: 100%;
	// top: 0;
	// left: 0;
	&.is-open {
		display: block;
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		height: 100%;

		position: fixed;
		// display: block;
		z-index: 1;
		overflow-y: scroll;
		background-color: var(--text-color-footer);
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		@media screen and (min-width: 768px) {
			display: none;
		}
	}
}

.mob-site-nav {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	&__item {
		margin-bottom: 32px;
		&:last-child {
			margin-bottom: 0px;
		}
	}
	&__link {
		position: relative;
		transition: color 250ms var(--timing-translation);

		display: block;
		color: var(--primery-text-color);
		text-decoration: none;
		font-style: normal;
		font-weight: 500;
		letter-spacing: 0.02em;
		font-size: 40px;
		line-height: 1.18;
		text-align: center;
	}
}

.mob-site-nav__link:hover,
.mob-site-nav__link:focus {
	color: var(--accent-color);
}
.mob-site-nav__link--active {
	color: var(--accent-color);
}

.mob-header-contacts {
	align-items: flex-start;
	flex-direction: row;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
}
.mob-header-contacts__item:not(last-child) {
	margin-bottom: 32px;
}
.mob-header-contacts__phone {
	align-items: center;
	display: flex;
	text-decoration: none;
	font-style: normal;
	font-weight: 500;
	font-size: 34px;
	line-height: 1.18;
	letter-spacing: 0.02em;
	color: #757575;
}
.mob-header-contacts__mail {
	color: #2196f3;
	align-items: center;
	display: flex;
	text-decoration: none;
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 34px;
	line-height: 1.18;
	letter-spacing: 0.02em;
}

.mob-soc-nav {
	display: flex;
	&__item:not(:last-child) {
		display: flex;
	}
	&__link {
		position: relative;
		display: block;
		text-decoration: none;
		font-style: normal;
		font-weight: 500;
		font-size: 18px;
		line-height: 1.22;
		letter-spacing: 0.02em;
		color: #2196f3;
		text-align: center;
	}
}
.mob-soc-nav__item:not(:last-child)::after {
	content: "";
	margin: 0 10px;
	border: 1px solid rgba(33, 33, 33, 0.2);
	// transform: rotate(-90deg);
}
