.hero {
	width: 100%;
	height: 400px;
	background-position: center;
	background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);

	margin-left: auto;
	margin-right: auto;
	display: flex;
	// align-items: center;
	justify-content: center;
	text-decoration: none;
	text-align: center;
	padding: 118px 60px 118px 60px;
	@media screen and (min-width: 768px) {
		width: 768px;
		// padding: 118px 60px 118px 60px;
		align-items: flex-end;
	}
	@media screen and (min-width: 1200px) {
		width: 1600px;
		height: 600px;
		padding: 200px 452px 200px 452px;
		// padding-bottom: 200px;
		// padding-top: 200px;
		align-items: flex-end;
	}
}

.hero__title {
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	margin-bottom: 30px;
	display: flex;
	flex-wrap: wrap;
	color: var(--text-color-footer);
	// @include font(normal, 900px, 44px, 1.36);
	font-style: normal;
	font-weight: 900;
	font-size: 26px;
	line-height: 1.62;
	letter-spacing: 0.06em;
	text-align: center;
	text-transform: uppercase;
	width: 360px;

	@media screen and (min-width: 1200px) {
		font-size: 44px;
		line-height: 1.36;
		width: 696px;
	}
}
