.hero {
	max-width: 480px;
	max-height: 400px;
	background-position: center;
	background-size: cover;
	background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
		url(../images/hero_mob_1x.jpg);

	margin-left: auto;
	margin-right: auto;
	display: flex;
	// align-items: center;
	justify-content: center;
	text-decoration: none;
	text-align: center;
	padding: 118px 0px 118px 0px;

	@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
		background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
			url(../images/hero_mob_2x.jpg);
	}

	@media screen and (min-width: 768px) {
		max-width: 768px;
		// padding: 118px 60px 118px 60px;
		align-items: flex-end;
		background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
			url(../images/hero_tab_1x.jpg);
		@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
			background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
				url(../images/hero_tab_2x.jpg);
		}
	}
	@media screen and (min-width: 1200px) {
		max-width: 1600px;
		max-height: 600px;
		padding-top: 200px;
		padding-bottom: 200px;
		align-items: flex-end;
		background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
			url(../images/hero_desk_1x.jpg);
		@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
			background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
				url(../images/hero_desk_2x.jpg);
		}
	}
}

.hero__title {
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	margin-bottom: 30px;
	// display: flex;
	// flex-wrap: wrap;
	color: var(--text-color-footer);
	// @include font(normal, 900px, 44px, 1.36);
	font-style: normal;
	font-weight: 900;
	font-size: 26px;
	line-height: 1.62;
	letter-spacing: 0.06em;
	text-align: center;
	text-transform: uppercase;
	max-width: 360px;

	@media screen and (min-width: 1200px) {
		font-size: 44px;
		line-height: 1.36;
		max-width: 696px;
	}
}
