.proect {
	width: 1170px;
	text-decoration: none;
	display: flex;
	flex-wrap: wrap;
	&-portfolio {
		padding: 20px 24px 20px 24px;
		border: 1px solid #eeeeee;
		box-sizing: border-box;
		border-top: none;
		justify-content: space-between;
		&__title {
			margin-bottom: 4px;
			text-decoration: none;
			list-style: none;
			color: var(--primery-text-color);
			font-family: Roboto;
			// @include font(normal, 700px, 18px, 2);
			font-style: normal;
			font-weight: bold;
			font-size: 18px;
			line-height: 2;
			letter-spacing: 0.06em;
			display: block;
		}
		&__link {
			text-decoration: none;
			font-family: Roboto;
			// @include font(normal, 400px, 16px, 1.88);
			font-style: normal;
			font-weight: normal;
			font-size: 16px;
			line-height: 1.88;
			letter-spacing: 0.03em;
		}
	}
	&-list__item {
		transition: transform 250ms var(--timing-translation);
		position: relative;
		width: 370px;
		height: 404px;
		margin-bottom: 30px;
		margin-right: 30px;
		background: #ffffff;
		&:nth-child(3n) {
			margin-right: 0px;
			&:nth-last-child(-n + 3) {
				margin-bottom: 0px;
				&:hover,
				&:focus {
					border: none;
					box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
				}
			}
		}
	}
	&-list__submenu {
		position: absolute;
		left: 0;
		top: 100;
		margin: 0px;
		padding: 63px 24px;
		font-family: Roboto;
		// @include font(normal, 400px, 18px, 1.56);
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 1.56;
		letter-spacing: 0.03em;
		color: var(--primery-fon-color);
		background: rgba(33, 150, 243, 0.9);
		display: block;
		opacity: 1;
		transition: transform 250ms var(--timing-translation);
	}
	&-list__label {
		position: relative;
		overflow: hidden;
		transition: transform 250ms var(--timing-translation);
	}
	&-list__link {
		color: var(--title-text-color);
		text-decoration: none;
	}
}

.proect-list__link:hover .proect-list__submenu {
	display: block;
	opacity: 1;
	transition-property: transform;
	transform: translateY(-100%);
	transition: transform 250ms var(--timing-translation);
}
