.feature {
	padding-top: 94px;
	padding-bottom: 94px;
	&-title {
		display: none;
	}
	&-list {
		display: flex;
		flex-wrap: wrap;
		&__title {
			margin-top: 30px;
			margin-bottom: 10px;
			// @include font(normal, 700px, 14px, 1.14);

			font-style: normal;
			font-weight: 700;
			font-size: 14px;
			line-height: 1.14;
			letter-spacing: 0.03em;
			text-transform: uppercase;
			color: var(--primery-text-color);
		}
		&__text {
			// @include font(normal, 400px, 14px, 1.71);
			font-style: normal;
			font-weight: 400;
			font-size: 14px;
			line-height: 1.71;
			letter-spacing: 0.03em;
		}
		&__items {
			width: 270px;
			margin-right: 30px;
			padding: 0px;
			margin-bottom: 0px;
			&:last-child {
				margin-right: 0;
			}
			&::before {
				display: block;
				content: "";
				height: 120px;
				background-position: center;
				background-size: 70px;
				background-repeat: no-repeat;
				background-color: var(--fon-button-color);
			}
			&--antenna::before {
				background-image: url(../images/antenna.svg);
			}
			&--clock::before {
				background-image: url(../images/clock.svg);
			}
			&--diagram::before {
				background-image: url(../images/diagram.svg);
			}
			&--astronaut::before {
				background-image: url(../images/astronaut.svg);
			}
		}
	}
}
