.header {
	border-bottom: 1px solid #ececec;
	&-container {
		// display: flex;
		// align-items: center;
		// justify-content: space-around;
		// width: 1200px;
		padding-left: 15px;
		padding-right: 15px;
		margin-left: auto;
		margin-right: auto;

		@media screen and (min-width: 480px) {
			width: 480px;
			display: flex;
			align-items: center;
			justify-content: space-around;
		}

		@media screen and (min-width: 768px) {
			width: 768px;
		}

		@media screen and (min-width: 1200px) {
			width: 1200px;
		}
	}
	&__logo {
		color: var(--primery-text-color);
		text-decoration: none;
		font-family: Raleway;
		// @include font(normal, 700px, 26px, 1.19);
		font-style: normal;
		font-weight: 700;
		font-size: 26px;
		line-height: 1.19;
		letter-spacing: 0.03em;
	}
	&__icon {
		display: inline-flex;
		margin: 0px;
		padding: 0px;
		border: none;
		background-color: transparent;
	}
	&__icons {
		fill: currentColor;
	}
	&-contacts {
		// display: flex;
		display: none;
		margin-left: auto;
		&__item {
			margin-right: 50px;
		}
		&__link {
			transition: color 250ms var(--timing-translation);

			align-items: center;
			display: flex;
			color: var(--title-text-color);
			text-decoration: none;
			font-family: Roboto;
			// @include font(normal, 500px, 14px, 1.14);
			font-style: normal;
			font-weight: 500;
			font-size: 14px;
			line-height: 1.14;
			letter-spacing: 0.02em;
			&:focus,
			&:hover {
				color: var(--accent-color);
			}
		}
		&__mail {
			margin-right: 10px;
			width: 16px;
			height: 12px;
			fill: currentColor;
		}
		&__phone {
			margin-right: 10px;
			width: 10px;
			height: 16px;
			fill: currentColor;
			background-position: center;
		}
	}
}

/* .header-contacts__item:not(last-child) {
	margin-right: 0px;
} */
