.hero {
	// max-width: 1600px;
	max-height: 600px;
	background-position: center;
	background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);

	margin-left: auto;
	margin-right: auto;
	// display: flex;

	justify-content: center;
	text-decoration: none;
	text-align: center;
	padding-bottom: 200px;
	padding-top: 200px;

	@media screen and (min-width: 480px) {
		width: 480px;
	}

	@media screen and (min-width: 768px) {
		width: 768px;
	}

	@media screen and (min-width: 1200px) {
		width: 1200px;
	}
	&__title {
		margin-left: auto;
		margin-right: auto;
		margin-top: 0;
		margin-bottom: 30px;

		display: flex;
		flex-wrap: wrap;

		text-align: center;
		width: 696px;
		color: var(--text-color-footer);
		// @include font(normal, 900px, 44px, 1.36);
		font-style: normal;
		font-weight: 900;
		font-size: 44px;
		line-height: 1.36;
		letter-spacing: 0.06em;
		text-transform: uppercase;
	}
}
