.modal {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(1);
	visibility: visible;
	padding: 40px;
	width: 528px;
	background-color: var(--primery-fon-color);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	transition: transform 250ms var(--timing-translation), opasity 250ms var(--timing-translation);
	&-form {
		display: block;
		margin-top: 12px;
		width: 448px;
		margin-left: auto;
		margin-right: auto;
		&__item {
			position: relative;
			display: flex;
			flex-direction: column;
			margin-bottom: 10px;
			&--policy {
				margin-top: 20px;
				margin-bottom: 30px;
				align-items: center;
				justify-content: center;
			}
		}
		&__label {
			margin-right: auto;
			margin-bottom: 4px;
			font-style: normal;
			font-weight: normal;
			font-size: 12px;
			line-height: 1.17;
			letter-spacing: 0.01em;
			color: #757575;
			&--policy {
				margin-left: 10px;
				display: flex;
				content: "";
				justify-content: center;
				align-items: center;
				font-style: normal;
				font-weight: 400;
				font-size: 14px;
				line-height: 1.17;
				letter-spacing: 0.03em;
				color: #757575;
			}
		}
		&__input {
			font-size: 12px;
			padding: 0;
			padding-left: 42px;
			height: 40px;
			border: 1px solid rgba(33, 33, 33, 0.2);
			box-sizing: border-box;
			border-radius: 4px;
			&:focus {
				transition: border 250ms var(--timing-translation);
				border: 1px solid var(--accent-color);
				box-sizing: border-box;
				border-radius: 4px;
				outline: none;
			}
			&--policy {
				display: flexbox;
				align-items: center;
				justify-content: center;
				transform: 0;
				margin-right: 11px;
				width: 18px;
				height: 18px;
				background-color: var(--primery-fon-color);
				fill: currentColor;
				fill: none;
				background: var(--primery-fon-color);
				transition: appearance 250ms var(--timing-translation);
				transition: border-color 250ms var(--timing-translation);
			}
			&-policy:checked {
				appearance: none;
				fill: none;
				border-color: var(--primery-fon-color);
				transition: appearance 250ms var(--timing-translation);
				transition: border-color 250ms var(--timing-translation);
			}
		}
		&__icons {
			position: absolute;
			height: 18px;
			width: 18px;
			display: block;
			left: 0;
			bottom: 50%;
			margin-left: 10px;
			transform: translateY(100%);
			align-items: center;
			&--policy {
				position: absolute;
				height: 15px;
				width: 15px;
				top: -61%;
				bottom: 0%;
				margin-left: 11px;
				background-size: contain;
				background-origin: border-box;
				justify-content: center;
				background-position: center;
				border-radius: 2px solid var(--primery-text-color);
				fill: currentColor;
				fill: none;
				background-color: none;
				transition: fill 250ms var(--timing-translation), background-color 250ms var(--timing-translation);
			}
		}
		&__textera {
			font-style: normal;
			font-size: 14px;
			line-height: 1.14;
			letter-spacing: 0.01em;
			color: rgba(117, 117, 117, 0.5);
			resize: none;
			width: 448px;
			height: 120px;
			padding: 12px 16px;
			border: 1px solid rgba(33, 33, 33, 0.2);
			box-sizing: border-box;
			border-radius: 4px;
			&:focus {
				color: var(--title-text-color);
				transition: border 250ms var(--timing-translation);
				border: 1px solid var(--accent-color);
				outline: none;
			}
			&::placeholder {
				color: rgba(117, 117, 117, 0.5);
			}
		}
		&__button {
			width: 200px;
			height: 50px;
			// @include font(normal, 700px, 16px, 1.88);

			font-style: normal;
			font-weight: 700;
			font-size: 16px;
			line-height: 1.88;
			align-items: center;
			text-align: center;
			letter-spacing: 0.06em;
			color: var(--text-color-footer);
			background: #2196f3;
			box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
			border-radius: 4px;
			border: 1px solid rgba(0, 0, 0, 0.15);
		}
	}
	&__name {
		margin-bottom: 12px;
		font-family: Roboto;
		// @include font(normal, 700px, 20px, 1.15);
		font-style: normal;
		font-weight: bold;
		font-size: 20px;
		line-height: 1.15;
		text-align: center;
		letter-spacing: 0.03em;
		color: #212121;
	}
	&__close {
		right: 0;
		top: 0;
		margin: 8px;

		position: absolute;
		display: flex;
		height: 30px;
		width: 30px;
		border-radius: 50%;
		align-items: center;
		justify-content: center;
		background-position: center;
		background-color: white;
		border: 1px solid rgba(0, 0, 0, 0.1);
		transition: fill 9250ms var(--timing-translation);
	}
	&__icon {
		transition: fill 250ms var(--timing-translation);
		.modal__close:focus &,
		.modal__close:hover & {
			fill: var(--accent-color);
			box-sizing: border-box;
			transition: fill 250ms var(--timing-translation);
		}
	}
}

.modal-form__input:focus + .modal-form__icons {
	fill: var(--accent-color);
	color: #eeeeee;
	box-sizing: border-box;
	transition: fill 250ms var(--timing-translation);
	fill: currentColor;
	fill: none;
	background: #fff;
}

.modal-form__input--policy:checked + .modal-form__icons--policy {
	background-color: var(--accent-color);
	border-radius: 2px;
	fill: currentColor;
	color: #fff;
	fill: var(--primery-fon-color);
}
