.socials-lists__icon--footer {
	transition: background-color 250ms var(--timing-translation);
	color: #ffffff;
	fill: #ffffff;
	&:hover,
	&:focus {
		background-color: var(--accent-color);
		background: #2196f3;
		transition: transform 250ms var(--timing-translation);
	}
}

.socials-lists__link {
	transition: color 250ms var(--timing-translation), background-color 250ms var(--timing-translation);
	display: flex;
	height: 100%;
	width: 100%;
	border-radius: 50%;
	align-items: center;
	justify-content: center;
	background-position: center;
	color: #fff;
	fill: #fff;
	&:hover,
	&:focus {
		background-color: var(--accent-color);
		color: #fff;
	}
}
.socials-lists__item--footer {
	fill: #ffffff;
	background-color: rgba(255, 255, 255, 0.1);
}

.subscription-container {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	content: "";
	width: 100%;
	// height: 86px;
	// margin-left: 93px;
	margin: 0px;
	margin-top: 60px;
	text-align: center;

	@media screen and (min-width: 768px) {
		margin-top: 65px;
	}

	@media screen and (min-width: 1200px) {
		margin-top: 0px;
		width: 570px;
		height: 86px;
		margin-left: 93px;
	}
}

.subscription__discus {
	display: flex;
	flex-direction: column;
	align-items: center;

	@media screen and (min-width: 1200px) {
		flex-direction: row;
		align-items: normal;
	}
}

.subscription__input {
	width: 100%;
	// width: 450px;
	height: 50px;
	padding: 15px;
	margin-bottom: 16px;
	border: 1px solid rgba(255, 255, 255, 0.3);
	box-sizing: border-box;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
	border-radius: 4px;
	background: var(--title-fon-color);
	color: var(--text-color-footer);

	@media screen and (min-width: 768px) {
		width: 450px;
	}

	@media screen and (min-width: 1200px) {
		width: 358px;
		margin-right: 12px;
	}
	&::placeholder {
		color: rgba(255, 255, 255, 0.6);
	}
}

.subscription-button__snd {
	width: 200px;
	height: 50px;
	padding: 10px 29px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	background: var(--accent-color);
	// @include font(normal, 700px, 16px, 1.88);
	font-style: normal;
	font-weight: 700px;
	font-size: 16px;
	line-height: 1.88;
	border: 1px solid rgba(0, 0, 0, 0.15);
	letter-spacing: 0.06em;
	color: var(--text-color-footer);
	display: flex;
}

.subscription-button__icon {
	width: 24px;
	height: 24px;
	fill: currentColor;
	margin-left: 10px;
}
