.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #503b3b33;
	opacity: 1;
	transition: opacity 250ms linear;
}

.backdrop.is-hidden .modal {
	transform: translate(-50%, -50%) scale(0);
}

.backdrop.is-hidden {
	opacity: 0;
	pointer-events: none;
	visibility: hidden;
}

.backdrop-header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #503b3b33;
	opacity: 1;
	transition: opacity 250ms linear;
}

.backdrop-header.is-hidden .modal {
	transform: translate(-50%, -50%) scale(0);
}

.backdrop-header.is-hidden {
	opacity: 0;
	pointer-events: none;
	visibility: hidden;
}
