@mixin font($fs, $fw, $fz, $lh) {
	font-style: $fs;
	font-weight: $fw;
	font-size: $fz;
	line-height: $lh;
}

@mixin font($fs, $fw, $fz, $lh) {
	font-style: $fs;
	font-weight: $fw;
	font-size: $fz;
	line-height: $lh;
}
