:root {
	--primery-text-color: #212121;
	--title-text-color: rgba(117, 117, 117, 1);
	--second-text-color: rgba(255, 255, 255, 0.6);
	--text-color-footer: #ffffff;
	--primery-fon-color: #ffffff;
	--title-fon-color: #2f303a;
	--accent-color: #2196f3;
	--fon-button-color: #f5f4fa;
	--timing-translation: cubic-bezier(0.4, 0, 0.2, 1);
}
